<h1><%= @page.title %></h1>
<p><%= @page.body %></p>

<%= link_to 'Edit', edit_page_path(@page)  %>
<%= button_to 'Delete', @page, method: :delete %>
# <%= button_to "Destroy this post", @post, method: :delete %>
